torch>=2.1.0
torchvision>=0.16.0
transformers>=4.35.0
accelerate>=0.21.0
accrue>=0.1.5
opencv-python
Pillow
numpy
scipy
easydict
tqdm
einops
timm
decord
imageio[ffmpeg]
huggingface-hub
pyyaml
open3d
pymeshlab
sentencepiece
fastapi
uvicorn
regex
protobuf